.searchbar{
    height: 25px;
    width: 60%;
    margin: 5px auto;

    font-size: 20px;
    text-align: center;

    border-radius: 2%;
}
.searchbar:focus{
    height: 35px;
    width: 80%;

    animation: zoomIn 0.3s ease-in-out;
}

@keyframes zoomIn {
    0%{
        height: 25px;
        width: 60%;
    }100%{
        height: 35px;
         width: 80%;
     }
}